body {
  background-color: #f7f9e3;
  background-image: radial-gradient(ellipse farthest-corner at 10px 10px, #6ff745, #6ff745 10%, #f7f9e3 10%);
  background-size: 10px 10px;
  color: black;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

h1 {
  font-size: 3rem;
  background-color: whitesmoke;
  color: black;
  padding: 0 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 6px 5px grey;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.app-title {
  font-size: 3rem;
  background-color: whitesmoke;
  color: black;
  padding: 0 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 6px 5px grey;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: rgb(249, 139, 139);
  box-shadow: 3px 3px black;
  transform: translate(-1px, -1px);
  border-radius: 15px;
}

.btn:hover {
  color: #dadacc;
  background-color: #7f8578;
  transform: translate(0, 0);
  box-shadow: 2px 2px black;
  cursor: pointer;
}

.navbar {
  width: 100%;
  margin: 20px;
}

.dashcard {
  margin: 200px 0 20px 20px;
  border: 3px solid black;
  border-radius: 5px;
  width: auto;
}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 1%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 1%;
}

.title-hero {
  padding: 3% 4%;
  margin-bottom: 5px;
  background-color: rgba(46, 46, 46, 0.59);
  color: black;
  border-radius: 5px;
}