<header>
  <nav>
    <a href="/"></a>
    {{#if logged_in}}
      <a href="/dashboard">Dashboard</a>
      <form id="logout-form" action="/api/users/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    //{{else}}
      <a href="/login"></a>
    {{/if}}
  </nav>
</header>
