{{#*inline "content"}}
  <div class="container">
    {{#each posts}}
      <div class="card">
        <div class="card-header">
          <h2>{{this.title}}</h2>
        </div>
        <div class="card-body">
          <p>{{this.content}}</p>
          <small>By {{this.user.username}} on {{this.createdAt}}</small>
        </div>
      </div>
    {{/each}}
  </div>
{{/inline}}

{{> layouts/main}}