{{> header}}

<main>
  <section>
    <h1>Login</h1>
    <form id="login-form" class="login-form">
      <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" name="username">
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" name="password">
      </div>
      <button type="submit">Login</button>
    </form>
  </section>
</main>

{{> footer}}

<script src="/js/login.js"></script>