<!-- views/signup.handlebars -->
{{#extends 'layouts/main'}}
{{#content 'body'}}
<main>
  <h2>Sign Up</h2>
  <form id="signup-form">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit" class="btn">Sign Up</button>
  </form>
</main>
{{/content}}
<script src="/js/signup.js"></script>