
<h1>Sign Up</h1>
  <form class="signup-form">
    <div>
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" name="username-signup" required>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" name="password-signup" required>
    <br>
    <button type="submit">Sign Up</button>
  </form>

  <script src="../public/js/signup.js"></script>
